/*@font-face { 
  font-family: 'Theinhardt'; 
  src: url('font/Theinhardt-Regular.otf'), url('font/Theinhardt-RegularIta.otf'), url('font/Theinhardt-Light.otf'), url('font/Theinhardt-LightIta.otf'), url('font/Theinhardt-BoldIta.otf'), url('font/Theinhardt-Bold.otf');
}

body, h1, h2,h3,h4,h5, p{font-family: 'Theinhardt', sans-serif;}*/


#logoflip{
	width: 40px;
	position: fixed;
	bottom: 2.7em;
	right: 4em;
}

#logo {
width: 100px;
	position: absolute;
top: 1.4em;
	
}

ul{
    list-style-type:disc;
	
}

#container {
	margin: 50px;
	width: 1450px;
	float:left;

}
#menu {
	
	margin-right: 40px;
	margin-bottom: 40px;
	/*background-color: #6a57e6;*/
max-width: 900px;
}
#sommaire {
/*background-color: #93c01f;*/
	max-width: 940px;
}

#texte {
}

#javascript {
background-color: black;
color: #ff5bb0;
	
padding-left: 2em;
	padding-top: 2em;
}

#logo {
width: 100px;
	position: absolute;
top: 1.4em;
	z-index: auto;
}
#logo2 {
width: 130px;
	position: fixed;
top: 0.5em;
	z-index: 0;
}

h1{
font-weight: 150;
	font-size: 4em;
	font-size: 3em;
	margin-left: 3.5em
}

h2{
font-weight: 200;
}

h3 {
margin-top: 2em;
margin-bottom: 1em;
	font-weight: 200;
	font-size: 2em;
	
	 
}

h5{

margin-bottom: 0.5em;
	font-weight: 200;
	font-size: 1.5em;
	
}

a :hover, a:link {text-decoration: none;
	color: #685fbe;	
}



#bandeau {
margin-top: 2em;
}

.sslist {
	
    list-style-type:none;

}